dgl==2.2.1
ipdb==0.13.13
ipython==8.37.0
joblib==1.5.2
matplotlib==3.10.6
networkx==3.4.2
numpy==2.2.6
pandas==2.3.2
pillow==11.0.0
scikit-learn==1.7.1
scipy==1.15.3
six==1.17.0
tensorboard==2.20.0
torch==2.8.0+cu126
torch_cluster==1.6.3+pt28cu126
torch-geometric==2.6.1
torch_scatter==2.1.2+pt28cu126
torch_sparse==0.6.18+pt28cu126
torchvision==0.23.0+cu126
tqdm==4.67.1
